sudo: false
language: java
os: linux
install:
- wget https://dl.google.com/dl/cloudsdk/channels/rapid/downloads/google-cloud-sdk-112.0.0-linux-x86_64.tar.gz
- tar -xzvf google-cloud-sdk-112.0.0-linux-x86_64.tar.gz
- PATH=./google-cloud-sdk/bin:$PATH
- echo "Y" | gcloud init --console-only
script:
- gcloud auth active-service-account --key-file travis-app-maven-plugin-6cf410ac070f.json
- gcloud preview app instances list --quiet
before_install:
- openssl aes-256-cbc -K $encrypted_2eaf8826df7c_key -iv $encrypted_2eaf8826df7c_iv
  -in travis-app-maven-plugin-6cf410ac070f.json.enc -out travis-app-maven-plugin-6cf410ac070f.json
  -d
